# MySQL
DATABASE_URL="mysql://devuser:devpass@localhost:3306/synergysphere"

# PostgreSQL (alternative)
# DATABASE_URL="postgresql://devuser:devpass@localhost:5432/synergysphere"

JWT_SECRET="supersecretkey"
JWT_EXPIRES_IN="60m"

PORT=3000
